<div class="landing-page">
  
  <!-- Header -->
  <app-header></app-header>

  <!-- Banner -->
  <app-banner></app-banner>

  <div class="theme-divider">
    <span>
      <img src="assets/images/landing/div-logo.svg" alt="img" />
    </span>
  </div>

  <!-- compare -->
  <app-compare></app-compare>

  <!-- preview -->
  <app-preview></app-preview>

  <!-- tools -->
  <app-tools></app-tools>

  <div class="theme-divider">
    <span>
      <img src="assets/images/landing/div-logo.svg" alt="img" />
    </span>
  </div>

  <!-- explore -->
  <app-explore></app-explore>

  <!-- social -->
  <app-social></app-social>

  <!-- news -->
  <app-news></app-news>

  <!-- trynow -->
  <app-trynow></app-trynow>

  <div class="theme-divider">
    <span>
      <img src="assets/images/landing/div-logo.svg" alt="img" />
    </span>
  </div>

  <!-- download -->
  <app-download></app-download>

  <!-- contact -->
  <app-contact></app-contact>

  <!-- Footer -->
  <app-footer></app-footer>

</div>