<div class="sec-download">
  <div class="container">
    
    <div class="row align-items-start">
      <div class="col-md-5 col-download-left">
        <div class="sec-top">
          <img src="assets/images/landing/sec-icon-4.svg" alt="img" />
          <h5 class="sec-title">Download the<br> app now!</h5>
          <div class="store-images d-flex align-items-center">
            <a href="#">
              <img src="assets/images/landing/download/store-img-1.svg" alt="img" />
            </a>
            <a href="#">
              <img src="assets/images/landing/download/store-img-2.svg" alt="img" />
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-7 col-download-right">
        <img src="assets/images/landing/download/tab-mobile.jpg" alt="img" />
      </div>
    </div>

  </div>
</div>